.startCont, .placeShips, .submit{
  display: none;
}

.grid {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.cell {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
    margin: 0;
    border-radius: 0;
    background-color: blue;

}

/* Customize the label (the container) */
.cellContainer {
    /* display: flex; */
    height: 20px;
    width: 20px;
    position: relative;
    /* padding-left: 25px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-wrap: wrap;
  }
  
  /* Hide the browser's default checkbox */
  .cellContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: blue;
    outline: 10px black;
  }

  .cellContainer:hover input ~ .checkbox {
    opacity: 50%;
    height: 20px;
    width: 20px;
  }

  .cellContainer input:checked ~ .checkbox{
    background-color: yellow;
  }

  .ship {
    background-color: black;
}

.shipHit {
  background-color: red;
}


.waterHit {
    background-color: aqua;
}

.destroyerHit {
  background-color: red;
}
.cruiserHit {
  background-color: pink;
}
.submarineHit {
  background-color: orange;
}
.battleshipHit {
  background-color: purple;
}
.carrierHit {
  background-color: green;
}
