body {
    background-color: #161925;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, p, label {
    color: #CBF7ED;
}

h1 {
    font-family: 'Tourney', cursive;
    font-size: 65px;
    text-align: center;
    margin-top: 5px;
}

h2, h3 {
    color: #AFC1D5;
}

h2, h3, p, label, button {
    font-family: 'Comfortaa', cursive;
}

.name, button {
  border: 0;
  border-radius: 4px;
  font-size: 30px;
}

.name {
  width: 60%;
}

button {
    cursor: pointer;
    background-color: #23395B;
    color: #CBF7ED;
}

.whatPlayers {
  text-align: center;
}

.playerSubmit {
    margin-top: 30px;
}

.startCont, .placeShips, .submit{
  display: none;
}

.startCont {
  flex-direction: column;
  align-items: center;
}

.nameDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nameSubmit {
  margin-top: 25px;
  width: 130px;
}

.placeShips{
  width: 100%;
  display: flex;
  justify-content: center;
}

.gridCont {
  display: flex;
  justify-content: space-evenly;
  width: 500px;

  /* align-items: center; */
  /* flex-direction: column; */
  /* height: 650px; */
}

.shipNames {
  text-align: right;
}

.submit {
  margin-top: 10px;
  margin-right: 0;
  width: 130px;
}

.turn {
  margin-bottom: 15px;
  text-align: center;
}

.grid {
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.cell {
    width: 30px;
    height: 30px;
    outline: 1px solid black;
    margin: 0;
    border-radius: 0;
    background-color: #23395B;

}

/* Customize the label (the container) */
.cellContainer {
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-wrap: wrap;
  }
  
  /* Hide the browser's default checkbox */
  .cellContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #223758;
    outline: 1px black;
  }

  .cellContainer:hover input ~ .checkbox {
    opacity: 50%;
    height: 30px;
    width: 30px;
  }

  .cellContainer input:checked ~ .checkbox{
    background-color: yellow;
  }

  .ship {
    background-color: black;
}

.shipHit {
  background-color: #8E3B46;
}


.waterHit {
    background-color: #5D85C0;
}

.destroyerHit {
  background-color: #8E3B46;
}
.cruiserHit {
  background-color: #D5ACA9;
}
.submarineHit {
  background-color: #DEB841;
}
.battleshipHit {
  background-color: #633E65 ;
}
.carrierHit {
  background-color: #317266;
}
